<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome to Volunteering!
        </title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap" rel="stylesheet">
        <style>
            #entrance{
                font-family:'Times New Roman', Times, serif;
                font: size 100px;
                font-style:italic,bold;
            }
            h1{
                color:blue
            }
        </style>
    </head>
    <body>
        <h1 entrance="h1">
            Welcome to my website!
        </h1>
        <h3>
            Placeholder for description
        </h3>
    </body>
</html>